.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  background-color: #2a2c2f;
  overflow: hidden;
  margin: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .page {
    min-width: 368px;
  }
}
