.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  margin: 92px auto 0;
  max-width: 1184px;
  box-sizing: border-box;
}
.photo-grid__item {
  box-sizing: border-box;
  margin: 0;
}
.photo-grid__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 720px) {
  .photo-grid {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
